form {
    width: 450px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    width: 450px;
}

input[type="submit"] {
    background-color: rgb(30, 61, 61);
    margin-right: 10px;
}

a {
    color: rgb(88, 255, 46);
}

a:hover {
    color: white;
}