{% extends "base.html" %}

{% block title %}
    Public Journal - Home
{% endblock title %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/home.css')}}">
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<h1>World of Journals</h1>
<p>Where every thought finds a safe haven...</p>
<h4 class="welcome">Welcome,<span class="username">
    {% if current_user.is_authenticated %}
        {{- current_user.username -}}
    {% else %}
        Guest
    {%- endif -%}
</span>!</h4>
<div class="nav">
    <form id="login-form" action="{{url_for('auth.login')}}">        
    </form>
    <form id="logout-form" action="{{url_for('auth.logout')}}">        
    </form>
    <button type="submit" form="login-form" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Add Journal</button>
    <button type="submit" form="logout-form" class="btn btn-primary">Logout</button>
</div>

{% for journal in journals %}
    <li>
        <div class="journal">
            <p>Title: {{journal.title}}</p>
            <p>Author: {{journal.author.username}}</p>
            <p>Private: {{journal.is_private}}</p>
            <p>Anonymous: {{journal.is_anonymous}}</p>
            <p>{{journal.content}}</p>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-primary">Read</button>
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-primary">Delete</button>
            <button type="button" class="btn btn-primary">Add Journal</button>
        </div>
        <hr>
    </li>
{% endfor %}
{% endblock content %}